.ipynb_checkpoints/
TensorFlow_MNIST_Part1_with_comments.ipynb
TensorFlow_MNIST_Part2_with_comments.ipynb
TensorFlow_MNIST_Part3_with_comments.ipynb
TensorFlow_MNIST_Part4_with_comments.ipynb
TensorFlow_MNIST_Part5_with_comments.ipynb
TensorFlow_MNIST_Part6_with_comments.ipynb
.idea/
__pycache__/
TensorFlow_MNIST_complete_with_comments.ipynb
